<div class="about">
  <div class="bgImg_about">
    <div class="text-overlay">
      <p>煙へのこだわりで探すことのできる</br>
      シーシャのレビューサイトです。</br>
      様々な条件での検索、お気に入りやフォロー機能で好みの煙を見逃しません。</br>
      あなたの推し煙もぜひ、投稿していってくださいね。
      </p>
    </div>
  </div>
</div>