// Place all the styles related to the user/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.boximage {
  position: relative;
  width  : 80vw;
  height     : 90vh;
}

.boximage .bgImgs {
  position   : absolute;
  width  : 80%;
  height     : 85%;
  top        : 0;
  left       : 23%;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  background-size: contain;
  background-repeat: no-repeat;
  animation  : bgAnime 30s infinite;   /* 4画像 × 各5s = 20s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.boximage .src1 {
  background-image : image-url('hookah1.jpg');   /* 背景の画像を指定 */
}
.boximage .src2 {
  background-image : image-url('hookah2.jpg');   /* 背景の画像を指定 */
  animation-delay  : 5s;
}
.boximage .src3 {
  background-image : image-url('hookah7.jpg');   /* 背景の画像を指定 */
  animation-delay  : 10s;
}
.boximage .src4 {
  background-image : image-url('hookah4.jpg');   /* 背景の画像を指定 */
  animation-delay  : 15s;
}
.boximage .src5 {
  background-image : image-url('hookah5.jpg');   /* 背景の画像を指定 */
  animation-delay  : 20s;
}
.boximage .src6 {
  background-image : image-url('hookah3.jpg');   /* 背景の画像を指定 */
  animation-delay  : 25s;
}

@keyframes bgAnime {
   0% { opacity: 0; }
   5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
 100% { opacity: 0; }
}

.about {
  position: relative;
  width  : 80vw;
  height     : 90vh;
}
.bgImg_about {
  position   : absolute;
  width      : 80%;
  height     : 85%;
  top        : 0;
  left       : 23%;
  bottom     : 0;
  right      : 0;
  opacity    : 1;
  background-size: cover;
  // background-size: contain;画像の比率をそのままに画面に応じて画像を小さく
  // background-repeat: no-repeat;要素のなかで画像の繰り返しを防ぐ
  background-image : image-url('hookah8.jpg');
}

.text-overlay {
  position: absolute;
  top: 40%;
  right: 0;
  padding: 20px; /* 適切なパディングを指定してください */
  color: white; /* テキストの色を指定 */
  font-size: 18px; /* テキストのフォントサイズを指定 */
}